*, *::before, *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-400: #555;
    --base-800: #000;
    --yellow: #cbf4d8;
    --yellow-100: #cbf4d8;
    --yellow-400: #cbf4d8;
    --yellow-800: #cbf4d8;
    --blue: black;
    --blue-100: #EDEDED;
    --blue-400: Black;
    --blue-800: White;
    --green: Green;
    --darkgreen: darkgreen;
    --lightgrey: gray;
}
 body {
     font-family: "Aptos", "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-size: 18px;
     padding-bottom: 1000px;
}
 a {
     color: var(--green);
     text-decoration: none;
     &:hover {
         background-color: gray;
         text-decoration: underline;
         color: var(--darkgreen);
    }
}
 header {
     padding-top: 10px;
     padding-bottom: 10px;
     display: flex;
     justify-content: space-between;
     max-width: 1440px;
     margin: auto;
     border-bottom: 1px solid rgba(0,0,0,0.1);
     .logo-holder {
         display: flex;
         padding: 10px;
         align-items: center;
         font-weight: 600;
         color: var(--base-800);
         .logo {
             display: flex;
             align-items: center;
             justify-content: center;
             font-size: 32px;
             background-color: var(--base-800);
             color: var(--base-100);
             height: 64px;
             width: 64px;
             margin-right: 20px;
             border-radius: 50%;
        }
         .logo-text {
             flex: 1;
        }
    }
     nav {
         display: flex;
         align-items: center;
         ul {
             display: flex;
             list-style-type: none;
             gap: 5px;
             li {
                 display: inline-block;
                 a {
                     display: inline-block;
                     padding: 10px 20px;
                     color: var(--base);
                     &:hover {
                         background-color: var(--base-100);
                         border-radius: 10px;
                         text-decoration: none;
                    }
                }
            }
        }
         .mobile-toggle {
             display: none;
             color: var(--base-800);
             padding: 10px;
             @media (max-width:768px) {
                 display:inline-block;
                 position:absolute;
                 top:20px;
                 right:20px;
            }
        }
    }
     @media (max-width: 1024px) {
         flex-direction:column;
         align-items:center;
    }
     @media (max-width: 768px) {
         flex-direction:column;
         align-items:center;
         nav {
             margin-top: 10px;
             width: 100%;
             ul {
                 display: none;
                 flex-direction: column;
                 text-align: center;
                 width: 100%;
                 a {
                     width: 100%;
                }
                 &.active {
                     display: flex;
                }
            }
        }
    }
}
 section {
     max-width: 1440px;
     margin: auto;
     gap: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
     @media (max-width:1440px) {
         padding-left:5px;
         padding-right:5px;
    }
}
 .button {
     display: inline-block;
     padding: 10px 30px;
     background-color: var(--blue);
     color: var(--base-100);
     border-radius: 10px;
     transition: ease 0.3s all;
     &:hover {
         text-decoration: none;
         background-color: var(--base-800);
    }
     &.white {
         background-color: white;
         color: var(--base-800);
         &:hover {
             background-color: var(--lightgrey);
             color: var(--base);
        }
    }
     &.black {
         background-color: black;
         color: white;
         &:hover {
             background-color: var(--base);
             color: var(--base-100);
        }
    }
}
.button:hover {
    background-color: var(--lightgrey);
    color: white !important;
}
 h1 {
     font-size: 64px;
     line-height: 1;
     margin-bottom: 10px;
     small {
         display: block;
         font-weight: 100;
    }
     @media (max-width:600px) {
         font-size:40px;
    }
}
 .hero {
     display: flex;
     @media (max-width:1024px) {
         flex-direction:column;
    }
     .hero-blue {
         flex: 1;
         background-color: var(--blue-100);
         border-radius: 30px;
         padding: 30px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         span {
             @media (max-width:768px) {
                 display:none;
            }
        }
         .call-to-action {
             margin-top: 20px;
             margin-bottom: 10px;
             a {
                 margin-right: 10px;
                 margin-bottom: 10px;
            }
        }
         .react-share__ShareButton.svg {
             width: 32px;
             height: 32px;
             @media (max-width:600px) {
                 width:24px;
                 height:24px;
            }
        }
         .react-share__ShareButton .share__some-network__share-button {
             svg {
                 width: 32px;
                 height: 32px;
                 @media (max-width:600px) {
                     width:24px;
                     height:24px;
                }
            }
        }
         .social-links {
             a {
                 margin: 0 10 0 10;
                 &:hover {
                     text-decoration: none;
                }
            }
        }
    }
     .hero-green {
         flex: 1;
         background-color: #cbf4d8;
         border-radius: 30px;
         padding: 0px 30px;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         img {
             margin-top: -60px;
             max-width: 420px;
             margin-bottom: 0px;
        }
    }
}
 .logos {
     background-color: #ffffff;
     border-radius: 30px;
     padding: 30px 0px;
     vertical-align: middle;
     filter: grayscale(100%);
     padding: 0px 5px 0px 5px;
     width: 70%;
     height: auto;
     max-height: 50px;
     @media (max-width:1440px) {
         border-radius:0px;
    }
     .marquee {
         width: 100vw;
         max-width: 100%;
         height: 128px;
         overflow: hidden;
         position: relative;
         .track
{
    position: absolute;
    display: flex;
    gap: 10px;
    margin: auto;
    gap: 10px 20px;
    vertical-align: middle;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
    width: auto;
    .landscape {
                 margin-top: 13px !important;
            }
            .archimate, .togaf {
                height: 35px;
            }
            .agilist, .prince2, .pspoi, .psmi, {
                height: 35px;
            }
            .datadog, .flutterflow, .itil {
                height: 35px;
            }
            .databricks {
                height: 31px;
            }
            .optimizely {
                margin-top: 7px !important;
                height: 38px;
            }
            .webflow {
                height: 31px;
            }
            .square {
                margin-top: 5px !important;
                height: 50px !important;
            }
            img {
                height: 35px;
            }
        }
    }
}
 @keyframes marquee {
     0% {
         transform: translateX(0);
    }
     100% {
         transform: translateX(-50%);
    }
}
 h2 {
     font-size: 64px;
     line-height: 1;
     margin-bottom: 10px;
     text-align: center;
     color: var(--base-800);
     padding: 30px;
     small {
         display: block;
         font-weight: 100;
         font-size: 0.5em;
         color: var(--base);
    }
     @media (max-width:1024px) {
         font-size:48px;
    }
}
 h3 {
     font-size: 32px;
     font-weight: 600;
     line-height: 1;
     margin-bottom: 20px;
     color: var(--base-800);
}
 .skills {
     .holder-blue {
         background-color: var(--blue-100);
         border-radius: 30px;
         padding: 30px;
         display: flex;
         color: white;
         @media(max-width:1024px) {
             flex-direction:column;
        }
         .left-column {
             flex: 1;
             ul {
                 display: flex;
                 flex-wrap: wrap;
                 list-style-type: none;
                 gap: 10px;
                 margin-right: 100px;
                 margin-bottom: 20px;
                 li {
                     display: inline-block;
                     background-color: var(--blue-400);
                     padding: 10px 20px;
                     border-radius: 15px;
                     margin-bottom: 10px;
                }
            }
        }
         .right-column {
             flex: 1;
             p {
                 margin-bottom: 20px;
            }
        }
    }
}
 .work-experience {
     .jobs {
         display: flex;
         gap: 30px;
         @media(max-width:1024px) {
             flex-direction:column;
        }
         article {
             background-color: var(--yellow-100);
             padding: 30px;
             border-radius: 30px;
             flex: 1;
             h3 {
                 margin-top: 20px;
                 margin-bottom: 10px;
            }
             div {
                 font-weight: 600;
                 margin-bottom: 5px;
                 color: var(--base-800);
            }
             p {
                 margin-bottom: 10px;
            }
             figure {
                 width: 100%;
                 padding-top: 56.25%;
                 overflow: hidden;
                 position: relative;
                 border-radius: 15px;
                 img {
                     position: absolute;
                     top: 0;
                     left: 0;
                     height: 100%;
                     object-fit: cover;
                     transition: ease 3s all;
                }
                 figcaption {
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     right: 0;
                     background-color: rgba(0,0,0,0.5);
                     color: var(--base-100);
                     text-align: center;
                     padding: 10px;
                     opacity: 0;
                     visibility: hidden;
                     transition: ease 0.3s all;
                }
                 &:hover {
                     figcaption {
                         opacity: 1;
                         visibility: visible;
                    }
                     img {
                         transform: scale(1.2);
                    }
                }
            }
        }
    }
}
 .bento {
     .bento-grid {
         display: grid;
         grid-gap: 30px;
         grid-template-columns: repeat(5, 1fr);
         grid-template-rows: repeat(2, 1fr);
         height: 500px;
         @media(max-width:1024px) {
             grid-template-rows: repeat(8, 1fr);
        }
         @media(max-width:768px) {
             display:flex;
             flex-direction:column;
             gap:30px;
             height:auto;
        }
         .bento-item {
             padding: 30px;
             background-color: var(--base-100);
             border-radius: 15px;
             position: relative;
             overflow: hidden;
             img {
                 position: absolute;
                 top: 0;
                 left: 0;
                 object-fit: cover;
                 transition: ease 3s all;
            }
             &:hover {
                 img
                {
                    opacity: 0.7;
                    transform: scale(1.2);
                    transition: .5s ease;
                }
            }
             @media(max-width:768px) {
                 height:240px;
            }
             &:nth-child(1) {
                 grid-column: span 2;
                 grid-row: span 2;
                 @media(max-width:1024px) {
                     grid-column: span 2;
                     grid-row: span 2;
                }
            }
             &:nth-child(2) {
                 grid-column: span 2;
                 grid-row: span 1;
                 @media(max-width:1024px) {
                     grid-column: span 3;
                     grid-row: span 2;
                }
            }
             &:nth-child(3) {
                 grid-column: span 1;
                 grid-row: span 1;
                 @media(max-width:1024px) {
                     grid-column: span 3;
                     grid-row: span 2;
                }
            }
             &:nth-child(4) {
                 grid-column: span 1;
                 grid-row: span 1;
                 @media(max-width:1024px) {
                     grid-column: span 2;
                     grid-row: span 4;
                }
            }
             &:nth-child(5) {
                 grid-column: span 2;
                 grid-row: span 1;
                 @media(max-width:1024px) {
                     grid-column: span 3;
                     grid-row: span 2;
                }
            }
             &:nth-child(6) {
                 grid-column: span 5;
                 grid-row: span 3;
                 @media(max-width:1024px) {
                     grid-column: span 5;
                     grid-row: span 2;
                }
            }
        }
    }
}
 .chatbot {
     .chatbot-blue {
         background-color: var(--blue-100);
         border-radius: 30px;
         padding: 30px;
         gap: 30px;
         display: flex;
         @media (max-width:1024px) {
             flex-direction:column;
        }
         p {
             /*margin-bottom: 30px;*/
        }
         .avatar {
             color: white;
             margin: 10px;
        }
         .chat-info {
             flex: 3;
             padding-right: 30px;
        }
         .chat-box {
             flex: 4;
             background: white;
             border-radius: 15px;
             padding: 3px;
             display: flex;
             flex-direction: column;
             .scroll-area
                {
                    max-height: 340px;
                    height: 100%;
                    overflow-y: scroll;
                    padding: 0 5px 0 5px;
                    scroll-behavior: smooth;
                    ul {
                     display: flex;
                     flex-direction: column;
                     justify-content: flex-end;
                     gap: 15px;
                     li {
                         display: flex;
                         align-items: center;
                         gap: 15px;
                         &.user {
                             text-align: right;
                             justify-content: flex-end;
                             flex-direction: row-reverse;
                             span {
                                 background-color: var(--yellow);
                            }
                             .avatar {
                                 color: black;
                            }
                        }
                         span {
                             background-color: var(--blue-400);
                             width: 64px;
                             height: 64px;
                             border-radius: 50%;
                             display: inline-flex;
                             align-items: center;
                             justify-content: center;
                             @media(max-width:768px) {
                                 width:48px;
                                 height:48px;
                            }
                        }
                         div {
                             flex: 1;
                        }
                    }
                }
            }
             .chat-message {
                 display: flex;
                 margin-top: 15px;
                 gap: 15px;
                 padding: 5px;
                 input {
                     border-radius: 10px;
                     flex: 1;
                     padding: 15px;
                     border: 1px solid transparent;
                     background-color: var(--base-100);
                     &:hover {
                         outline: none;
                         background-color: white;
                         border: 1px solid var(--base-100);
                    }
                     &:focus {
                         outline: none;
                         background-color: white;
                         border: 1px solid var(--base-100);
                    }
                }
                 button {
                     border: none;
                     cursor: pointer;
                }
            }
        }
    }
}
.bookings {
    display: block;
    margin: auto;
    width: 95%;
    min-height: 700px;
    max-height: 800px;
    border: 0px;
}
 .gr_grid_container {
     width: 100%;
}
 .gr_grid_book_container {
     float: left;
     width: 98px;
     height: 160px;
     padding: 0px 0px;
     overflow: hidden;
}
 .gr_link {
     text-decoration: none;
}
 .gr_clear {
     clear: both;
}
 .gr_grid_branding {
     font-size: .9em;
     color: #382110;
     text-decoration: none;
     float: right;
     clear: both;
}
 .gr_read_full {
     font-size: .9em;
     color: #382110;
     text-decoration: none;
     float: left;
     clear: both;
}
 gr_container {
     max-width: 500px;
     width: 95%;
     margin: auto;
}
 .references {
     text-align: center;
}
 .references_iframe {
     display: block;
     margin: auto;
     width: 95%;
     height: 5000px;
     border: 0px;
}
 .recommendations_link {
     text-align: center;
}
 .right-column {
     color: black;
}
 nextjs-portal, .nextjs-toast, .nextjs-toast-errors-parent, .nextjs-error-with-static {
     display: none;
     visibility: hidden;
}
 .button_fullcollection {
     text-align: center;
     margin: 0 auto 0 auto !important;
     display: block;
     max-width: 350px;
}
 .share__container {
     margin: 0 auto 0 auto;
     text-align: center;
}
 .share__some-network {
     vertical-align: top;
     display: inline-block;
     margin-right: 10px;
     text-align: center;
}
 .share__some-network__share-count {
     display: inline-flex;
     justify-content: center;
     white-space: nowrap;
     overflow: visible;
     width: 0;
     margin-top: 3px;
     font-size: 12px;
}
 .share__some-network__share-button {
     cursor: pointer;
}
 .share__some-network__share-button:hover:not(:active) {
     opacity: 0.75;
}
 .share__some-network__custom-icon {
     width: 32px;
     height: 32px;
     @media (max-width:768px) {
         width: 16px;
         height: 16px;
    }
}
 .projects {
     display: none;
}
 #skills {
     margin-top: 100px;
}
.list {
    margin-left: 17px;
    margin-bottom: 20px;
    li {
        padding: 5px;
    }
}

html, body {
    width: 100%;
    height: 100vh;
}

#app-id-4466 {
    top: 1px;
    left: 1px;
    z-index: 999999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}